.HtmlCss {
  background: #fff;
  color: #000;
  min-height: 300px;
  padding: 100px 0;
  display: flex;
  align-items: center;
}

.HtmlCss div {
  max-width: 700px;
  margin: 0 auto;
}

.HtmlCss h2 {
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 300;
  margin: 0;
  transform: translate(0, 100px);
  opacity: 0;
  padding-bottom: 50px;
}

.HtmlCss p {
  line-height: 150%;
  font-weight: 400;
  font-size: 1.2rem;
  transform: translate(0, 100px);
  opacity: 0;
  margin: 0;
  color: #8b8b8b;
}

@media screen and (max-width: 600px) {
  .HtmlCss {
    padding: 20px;
  }

  .HtmlCss h2 {
    font-size: 2.5rem;
    padding-bottom: 20px;
    transform: translate(0, 50px);
  }

  .HtmlCss p {
    font-size: 1rem;
    transform: translate(0, 50px);
  }
}